.start {
  text-align: center;
}

.title {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 10px;
  font-size: 20px;
  line-height: 23px;
}

.description {
  margin: 0 auto;
  padding: 0 10px;
  font-size: 14px;
  line-height: 143%;
}

.start-button-container {
  margin: auto;
  width: 50px;
  cursor: pointer;
  border-radius: 5px;
  background-color: aqua;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
