.result {
  text-align: center;
}

.result-header {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  line-height: 41%;
  letter-spacing: 0.2em;
  color: #000;
}

.title {
  margin: 20px 20px 0;
}

.description {
  margin: 10px 20px 0;
  line-height: 130%;
}
